<li class="dropdown">
    <a href="@Url.Action("KidsList", "Kids")" class="dropdown-toggle" data-toggle="dropdown">Kids<b class="caret"></b></a>
    <ul class="dropdown-menu">
        <li>
            @Html.ActionLink("Accessories", "Accessories", "Kids")
        </li>
        <li>
            @Html.ActionLink("Jackets", "Jackets", "Kids")
        </li>
        <li>
            @Html.ActionLink("Shorts", "Shorts", "Kids")
        </li>
        <li>
            @Html.ActionLink("Dresses", "Dresses", "Kids")
        </li>
        <li>
            @Html.ActionLink("Jeans", "Jeans", "Kids")
        </li>

        <li>
            @Html.ActionLink("Shoes", "Shoes", "Kids")
        </li>
        <li>
            @Html.ActionLink("Skirts", "Skirts", "Kids")
        </li>
        <li>
            @Html.ActionLink("TShirts", "TShirts", "Kids")
        </li>
    </ul>




</li>


