<li class="dropdown">
    <a href="@Url.Action("MenList", "Men")" class="dropdown-toggle" data-toggle="dropdown">Men<b class="caret"></b></a>
    <ul class="dropdown-menu">
        <li>
            @Html.ActionLink("Accessories", "Accessories", "Men")
        </li>
        <li>
            @Html.ActionLink("Backpacks", "Backpacks", "Men")
        </li>
        <li>
            @Html.ActionLink("Blazers", "Blazers", "Men")
        </li>
        <li>
            @Html.ActionLink("Jackets", "Jackets", "Men")
        </li>
        <li>
            @Html.ActionLink("Jeans", "Jeans", "Men")
        </li>
        <li>
            @Html.ActionLink("Shirts", "Shirts", "Men")
        </li>
        <li>
            @Html.ActionLink("Shoes", "Shoes", "Men")
        </li>
        <li>
            @Html.ActionLink("TShirts", "TShirts", "Men")
        </li>
        <li>
            @Html.ActionLink("Underwear", "Underwear", "Men")
        </li>

    </ul>




</li>
