<li class="dropdown">
    <a href="@Url.Action("WomenList", "Women")" class="dropdown-toggle" data-toggle="dropdown">Women<b class="caret"></b></a>
    <ul class="dropdown-menu">
        <li>
            @Html.ActionLink("Accessories", "Accessories", "Women")
        </li>
        <li>
            @Html.ActionLink("Bags", "Bags", "Women")
        </li>
        <li>
            @Html.ActionLink("Body", "Body", "Women")
        </li>
        <li>
            @Html.ActionLink("Dresses", "Dresses", "Women")
        </li>
        <li>
            @Html.ActionLink("Jeans", "Jeans", "Women")
        </li>
        <li>
            @Html.ActionLink("Jumpsuits", "Jumpsuits", "Women")
        </li>
        <li>
            @Html.ActionLink("Shoes", "Shoes", "Women")
        </li>
        <li>
            @Html.ActionLink("Skirts", "Skirts", "Women")
        </li>
        <li>
            @Html.ActionLink("Swimwear", "Swimwear", "Women")
        </li>
        <li>
            @Html.ActionLink("TShirts", "TShirts", "Women")
        </li>
    </ul>




</li>

